#div_1 {
    width: 100px;
    height: 100px;
    background-color: indianred;
}

#div_2 {
    width: 100px;
    height: 100px;
    background-color: lightblue;
}

#div_3 {
    width: 100px;
    height: 100px;
    background-color: olive;
}

body {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: black;
}