*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.participantes{
    position: relative;
    width: 100px;
    height: 100px;
    top: 0;
    margin: 10px 0;
}
#botones{
    position: relative;
    margin: 0 auto;
    display: inline-block;
    width: auto;
    padding: 0;
}
#caja1{
    background-color: aqua;
}
#caja2{
    background-color: fuchsia;
}
#caja3{
    background-color: darkorange;
}
#caja4{
    background-color: lawngreen;
}
input{
    position: relative;
    width: 150px;
    height: 50px;
    left: auto;
    margin: 0;
    padding: 0;
}
#play{
    background-image: url("../img/play.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover  ;
}
#play:hover{
    filter: drop-shadow(0 0 0.75rem rgb(0, 255, 0));
}
#reset{
    background-image: url("../img/reset.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain  ;
}
#reset:hover{
    filter: drop-shadow(0 0 0.75rem red);
}

