body{
    display: flex;
    justify-content: center;
}
section{
    width: 400px;
    height: 200px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    width: 30%;
    height: 100px;
    background-color: black;
    text-align: center;
}

a{
    line-height: 100px;
}